body {
    background-image: url("https://phonoteka.org/uploads/posts/2022-09/1663690309_34-phonoteka-org-p-klinok-rassekayushchii-demonov-oboi-na-rab-35.jpg");
    background-size: 100%;
    background-attachment: fixed;
    /* opacity: 0.5; */
}

div.headline{
    position: fixed;
    font-size: 25px;
    top: 0px;
    margin-right: 600px;
    background-size: 30px;
    background-color: greenyellow;
}

div.static{
    position: static;
    margin-right: 600px;
    right: 30px;
    border: 10px dotted red;
}

div.relative{
    position: relative;
    left: 700px;
    bottom: 10px;
    width: 400px;
    height: 150px;
    border: 3px solid #73AD21;
}

div.absolute{
    position: absolute;
    top: 10px;
    right: 0px;
    width: 200px;
    height: 50px;
    border: 3px solid #73AD21;
}

div.fixed{
    position: fixed;
    bottom: 0;
    width: 300px;
    right: 0px;
    border: 3px solid #73AD21;
}

div.sticky{
    position: sticky;
    font-size: 25px;
    top: 0px;
    margin-right: 600px;
    background-size: 30px;
    background-color: greenyellow;
    border: 15px solid red;
}

img {
    position: absolute;
    width: 650px;
    height: 600px;
    left: 0px;
    top: 500px;
    opacity: 1;
    z-index: -1;
}